extends ../layout.jade
block body
	h1(class="pacifico center-align") Noticias para los Alumnos
	frame(name="imagenes")
	table
		thead
			tr
				th(class="center-align") Titulo
				th(class="center-align") Cuerpo de la noticia
				th(class="center-align") Imagen
				th(class="center-align") Opciones
		tbody
			each alumno in alumnos
				tr
					td
						p(class="pacifico big") #[b #{alumno.header}]
					td= alumno.descriptionstu
					td
						a(href="#{ alumno.image }" class="btn green animated fadeInDown retraso1" target="_blank") Imagen
					td
						form(class="col s3 m3 l3" method="get" action="/alumnos/#{ alumno.id }" target="_blank")
							div(class="input-field")
								button(type="submit" class="btn waves-effect waves-light white-text yellow z-depth-5 animated bounceInRight retraso2") #[i(class="material-icons") remove_red_eye]
						form(class="col s3 m3 l3" method="post" action="/alumnos/#{ alumno.id }")
							div(class="input-field")
								button(type="submit" class="btn waves-effect waves-light white-text blue z-depth-5 animated bounceInRight retraso3") #[i(class="material-icons") mode_edit]
						form(class="col s3 m3 l3" method="post" action="/alumnos/#{ alumno.id }")
							div(class="input-field")
								button(type="submit" class="btn waves-effect waves-light white-text red z-depth-5 animated bounceInRight retraso4") #[i(class="material-icons") delete_forever]
	form(method="post" action="/alumnos/new" target="_blank")
		div(class="fixed-action-btn" style="bottom: 10px; right: 20px;")
			button(type="submit" class="btn-floating btn-large waves-effect waves-light black-text orange z-depth-5") #[i(class="large material-icons") add]