extends ../layout.jade
block body
	h1(class="pacifico center-align") INFORMACION DE MAESTROS
	table
		thead
			tr
				th(class="center-align") Nombre
				th(class="center-align") Cargo
				th(class="center-align") Descripcion
				th(class="center-align") Imagen
				th(class="center-align") Opciones
		tbody
			each maestro in teachers
				tr
					td
						p(class="pacifico big") #[b #{maestro.name}]
					td= maestro.grade
					td= maestro.information
					td
						a(href="#{ maestro.pictureurl }" class="btn green animated fadeInDown retraso1" target="_blank") Foto
					td 
						form(class="col s3 m3 l3" method="get" action="/institucion/#{ maestro.id }" target="_blank")
							div(class="input-field")
								button(type="submit" class="btn waves-effect waves-light black-text yellow z-depth-5 animated bounceInRight retraso2") #[i(class="material-icons") remove_red_eye]
						form(class="col s3 m3 l3" method="post" action="/institucion/edit/#{ maestro.id }")
							div(class="input-field")
								button(type="submit" class="btn waves-effect waves-light black-text blue z-depth-5 animated bounceInRight retraso3") #[i(class="material-icons") mode_edit]
						form(class="col s3 m3 l3" method="post" action="/institucion/#{ maestro.id }?_method=delete")
							div(class="input-field")
								button(type="submit" class="btn waves-effect waves-light black-text red z-depth-5 animated bounceInRight retraso4") #[i(class="material-icons") delete_forever]
	form(method="post" action="/institucion/new" target="_blank")
		div(class="fixed-action-btn" style="bottom: 10px; right: 20px;")
			button(type="submit" class="btn-floating btn-large waves-effect waves-light black-text orange z-depth-5") #[i(class="large material-icons") add]